body {
  font: 100%/1.5 system-ui, sans-serif;
  display: flex;
  flex-flow: column;
  max-width: 80em;
  min-height: 100vh;
  box-sizing: border-box;
  margin: auto;
  padding: 1em;
}

header {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

#time-filter {
  margin-left: auto;
}

#time-filter time,
#time-filter em {
  display: block;
}

#time-filter em {
  opacity: 0.6;
  font-style: italic;
}
